#hp {
    float: left;
    margin-right: 10px;
    padding-top: 20px;
}

.acmFull{
    font-size: 11px;
    color:lightblue;
    text-align: center;
}

.leftFlex {
    display: flex;
    flex-direction: row;
   /* background-color: darkgreen;*/
    justify-content: center;
}